In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/data_files/pima-indians-diabetes.csv')

In [ ]:
df.head()

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [ ]:
df.columns

Index(['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree',
       'age', 'label'],
      dtype='object')

In [ ]:
df.shape

(768, 9)

In [ ]:
df.isna().sum()

pregnant    0
glucose     0
bp          0
skin        0
insulin     0
bmi         0
pedigree    0
age         0
label       0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  768 non-null    int64
 1   glucose   768 non-null    int64
 2   bp        768 non-null    int64
 3   skin      768 non-null    int64
 4   insulin   768 non-null    int64
 5   bmi       768 non-null    float64
 6   pedigree  768 non-null    float64
 7   age       768 non-null    int64
 8   label     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
y = df['label']
x = df.drop('label', axis=1)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=10)

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(x_train, y_train)

LogisticRegression()

In [ ]:
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [ ]:
print("Training data accuracy",training_data_accuracy)

Training data accuracy 0.7719869706840391

In [ ]:
x_test_prediction = model.predict(x_test)
testing_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [ ]:
print("Testing data accuracy",testing_data_accuracy)

Testing data accuracy 0.7662337662337663

In [ ]:
cm = confusion_matrix(y_test, x_test_prediction)

In [ ]:
tp = cm[0,0]
tn = cm[1,1]
fp = cm[0,1]
fn = cm[1,0]
tpr = tp / (tp + fn)
fpr = fp / (fp + tn)
precision = tp / (tp+fp)
tnr = 1 - fpr
f1 = 2*tp / (2*tp + fp + fn)
auc = (tpr+tnr) / 2

In [ ]:
print("True positive rate:", tpr)
print("False positive rate:", fpr)
print("Precision:", precision)
print("True negative rate:", tnr)
print("F1:",f1)
print("ROC_AUC:", auc)

True positive rate: 0.7521367521367521
False positive rate: 0.1891891891891892
Precision: 0.9263157894736842
True negative rate: 0.8108108108108107
F1: 0.8301886792452831
ROC_AUC: 0.7814737814737814